/.idea
/.husky
/dist
/patches
/public

.idea
.dockerignore
.editorconfig
.env.example
.env.local
.eslintignore
.gitignore
.npmrc
.npmrc.secret
.nvmrc
.prettierignore
.devcontainer
*.env

Dockerfile
LICENSE
CHANGELOG.md

gha-creds-*.json
*.tgz
*.svg


/.nx/workspace-data