/.idea
/.husky
/dist
/patches
/public
/storybook-static
/server/*.js
/examples/fake-website

.dockerignore
.editorconfig
.env.example
.env.local
.eslintignore
.gitignore
.npmrc
.npmrc.secret
.nvmrc
.prettierignore
.devcontainer
*.env
package-lock.json

Dockerfile
LICENSE
CHANGELOG.md

gha-creds-*.json
*.tgz
*.svg
*.DS_Store

Tiltfile*
*.woff2

*.png
*.avif
*.sh
