:root {
    font-family: Helvetica, Roboto, Inter, system-ui, Avenir, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: 16px;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

#root {
    max-width: 1440px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.user-input {
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px;
    width: 400px;
    position: absolute;
    top: 40px;
}

.user-input:focus {
    outline: none;
    border-color: #00adba;
}

.card {
    border: 2px solid #3b3b3b;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    padding: 16px;
    position: relative;
    width: 200px;
}

.card.connected .card-connection {
    border-radius: 50%;
    height: 8px;
    background-color: #00b300;
    width: 8px;
    position: absolute;
    top: 8px;
    right: 8px;
}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card-button {
    border: 2px solid #3b3b3b;
    border-radius: 8px;
    padding: 8px 16px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.card-button:disabled {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
}

.card-button:hover:not(:disabled) {
    border-color: #ababab;
}

.card-title {
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 1rem;
}
