.v-hubs-sdk-modal {
    background-color: rgba(22, 28, 36, 0.72);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000000;
}

.v-hubs-sdk-modal-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    margin-top: 40px;
}

.v-hubs-sdk-modal-content {
    background: white;
    max-width: min(720px, 100% - 48px);
    min-height: min(100px, 100% - 80px);
    padding: 32px;
    position: relative;
    box-shadow:
        rgba(145, 158, 171, 0.24) 0px 0px 4px,
        rgba(145, 158, 171, 0.24) 0px 24px 48px;
    border-radius: 16px;
}

@media screen and (min-width: 720px) {
    .v-hubs-sdk-modal-content {
        min-width: 658px;
    }
}

.v-hubs-sdk-modal-header {
    margin-bottom: 32px;
}

.v-hubs-sdk-modal-title {
    font-weight: 600;
    font-size: 1.5em;
    color: rgb(68, 68, 68);
    font-family: inherit;
    line-height: 1.2;
    margin-bottom: 16px;
}

.v-hubs-sdk-modal-close {
    appearance: none;
    background-color: transparent;
    position: absolute;
    right: 16px;
    top: 16px;
}

.v-hubs-sdk-input-wrapper {
    position: relative;
    border: 1px solid rgba(145, 158, 171, 0.4);
    border-radius: 8px;
    width: 100%;
    margin-bottom: 16px;
}

.v-hubs-sdk-input {
    height: 50px;
    padding: 0 16px;
    width: 100%;
}

.v-hubs-sdk-form-button-wrapper {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    margin-top: 32px;
}

.v-hubs-sdk-submit-button {
    color: #fff;
    border-radius: 8px;
    border: 1px solid #404040;
    background-color: #404040;
    width: auto;
    white-space: nowrap;
    padding: 8px 16px;
}

.v-hubs-sdk-cancel-button {
    color: #2d2d2d;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: transparent;
    width: auto;
    white-space: nowrap;
    padding: 8px 16px;
}
